<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
          <unit name="ThreeLayerLib" namespace="threelayerblackboxlibrary">
    		<library name="ThreeLayerLib" class="threelayerblackboxlibrary.ThreeLayerLibrary">
    			<metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore"/>
    			<metamodel nsURI="http://www.modelversioning.org/emfprofile/1.1"/>
    			<metamodel nsURI="http://www.modelversioning.org/emfprofile/application/1.1"/>
    			<metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/System/5.0"/>
    			<metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/ResourceEnvironment/5.0"/>
    			<metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Core/Composition/5.0"/>
    		</library>
		</unit>
   </extension>

</plugin>
