<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.AddATAction"
            id="AddAT">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.AddATRoleAction"
            id="AddATRole">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.ApplyUnapplyProfileAction"
            id="ApplyUnapplyProfile">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.ApplyUnapplyStereotypeAction"
            id="ApplyUnapplyStereotype">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.LoadResourceAction"
            id="LoadResource">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.LoadResources"
            id="LoadResources">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.RemoveATAction"
            id="RemoveAT">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.RemoveATRoleAction"
            id="RemoveATRole">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.SetNamedReference"
            id="SetNamedReference">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.SetVariableCharacterisationSpecification"
            id="SetVariableCharacterisationSpecification">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.OpenRepresentation"
            id="OpenRepresentation">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.SetLinkingResourceThroughput"
            id="SetLinkingResourceThroughput">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.SetLinkingResourceLatency"
            id="SetLinkingResourceLatency">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.SetResourceContainerReadProcessingRate"
            id="SetResourceContainerReadProcessingRate">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.SetResourceContainerWriteProcessingRate"
            id="SetResourceContainerWriteProcessingRate">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.SetProcessingResourceProcessingRate"
            id="SetProcessingResourceProcessingRate">
      </javaActions>
   </extension>

</plugin>
