<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated architecturaltemplates -->
      <package
            uri="http://scaledl.org/ArchitecturalTemplates/Type/1.0"
            class="org.scaledl.architecturaltemplates.type.TypePackage"
            genModel="model/architecturaltemplates.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated architecturaltemplates -->
      <parser
            type="type"
            class="org.scaledl.architecturaltemplates.type.util.TypeResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated architecturaltemplates -->
      <package
            uri="http://scaledl.org/ArchitecturalTemplates/Instance/1.0"
            class="org.scaledl.architecturaltemplates.instance.InstancePackage"
            genModel="model/architecturaltemplates.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated architecturaltemplates -->
      <parser
            type="instance"
            class="org.scaledl.architecturaltemplates.instance.util.InstanceResourceFactoryImpl"/>
   </extension>
</plugin>
