<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.palladiosimulator.editors.composedprovidingrequiringentity.design.Activator"
               id="org.palladiosimulator.editors.composedprovidingrequiringentity.design"
	       name="My">
    </component>
  </extension>
  <extension
        point="org.obeonetwork.gmf.runtime.diagram.ui.extension.rotatableNode">
     <image
           bottom="/org.palladiosimulator.editors.composedprovidingrequiringentity.design/images/required-bottom.svg"
           id="test"
           left="/org.palladiosimulator.editors.composedprovidingrequiringentity.design/images/required-left.svg"
           right="/org.palladiosimulator.editors.composedprovidingrequiringentity.design/images/required-right.svg"
           top="/org.palladiosimulator.editors.composedprovidingrequiringentity.design/images/required-top.svg">
     </image>
  </extension>
</plugin>
