<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

null
null
null
null
null
null
null
null
null
null
null
null
null
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated architecturaltemplates -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.scaledl.architecturaltemplates.type.presentation.TypeModelWizardID"
            name="%_UI_TypeModelWizard_label"
            class="org.scaledl.architecturaltemplates.type.presentation.TypeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TypeModelFile.gif">
         <description>%_UI_TypeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated architecturaltemplates -->
      <editor
            id="org.scaledl.architecturaltemplates.type.presentation.TypeEditorID"
            name="%_UI_TypeEditor_label"
            icon="icons/full/obj16/TypeModelFile.gif"
            extensions="type"
            class="org.scaledl.architecturaltemplates.type.presentation.TypeEditor"
            contributorClass="org.scaledl.architecturaltemplates.type.presentation.TypeActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated architecturaltemplates -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.scaledl.architecturaltemplates.instance.presentation.InstanceModelWizardID"
            name="%_UI_InstanceModelWizard_label"
            class="org.scaledl.architecturaltemplates.instance.presentation.InstanceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InstanceModelFile.gif">
         <description>%_UI_InstanceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated architecturaltemplates -->
      <editor
            id="org.scaledl.architecturaltemplates.instance.presentation.InstanceEditorID"
            name="%_UI_InstanceEditor_label"
            icon="icons/full/obj16/InstanceModelFile.gif"
            extensions="instance"
            class="org.scaledl.architecturaltemplates.instance.presentation.InstanceEditor"
            contributorClass="org.scaledl.architecturaltemplates.instance.presentation.InstanceActionBarContributor">
      </editor>
   </extension>
</plugin>
