<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.scaledl.architecturaltemplates.completion.jobs.workflow_extension"
         name="Architectural Template: Workflow Extension"
         point="de.uka.ipd.sdq.workflow.job">
      <workflow_job
            extension_configurationbuilder="org.scaledl.architecturaltemplates.completion.config.ATExtensionConfigurationBuilder"
            extension_job="org.scaledl.architecturaltemplates.completion.jobs.RunATJob"
            workflow_id="workflow.extension.experimentautomation.before.experimentrun">
      </workflow_job>
   </extension>
   <extension
         id="org.scaledl.architecturaltemplates.completion.jobs.tab_extension"
         name="Architectural Template: Tab Extension"
         point="de.uka.ipd.sdq.workflow.tab.extension">
      <workflow_extension
            name="org.scaledl.architecturaltemplates.completion.jobs.tab_extension"
            runconfig_tab="org.scaledl.architecturaltemplates.completion.config.ATExtensionTab"
            workflow_id="workflow.extension.experimentautomation.tabs">
      </workflow_extension>
   </extension>

</plugin>
