<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.resourceenvironment.custom.externaljavaactions.AddProcessingResourceSpecification"
            id="AddProcessingResourceSpecification">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.resourceenvironment.custom.externaljavaactions.RemoveConnectorAction"
            id="RemoveConnector">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.resourceenvironment.custom.externaljavaactions.AddLinkingResourceAction"
            id="AddLinkingResource">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.resourceenvironment.custom.externaljavaactions.ReconnectLinkingResourceOfConnector"
            id="ReconnectLinkingResourceOfConnector">
      </javaActions>
   </extension>
</plugin>
