<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.resourceenvironment.custom.externaljavaactions.AddProcessingResourceSpecification"
            id="AddProcessingResourceSpecification">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.resourceenvironment.custom.externaljavaactions.RemoveConnectorAction"
            id="RemoveConnector">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.resourceenvironment.custom.externaljavaactions.ReconnectLinkingResourceOfConnector"
            id="ReconnectLinkingResourceOfConnector">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.resourceenvironment.custom.externaljavaactions.AddHDDProcessingResourceSpecification"
            id="AddHDDProcessingResourceSpecification">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.resourceenvironment.custom.externaljavaactions.EditLinkingResourceFailureProbability"
            id="EditLinkingResourceFailureProbability">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.resourceenvironment.custom.externaljavaactions.LinkingResourceExternalStoexEdit"
            id="LinkingResourceExternalStoexEdit">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.resourceenvironment.custom.externaljavaactions.ResourceExternalStoexEdit"
            id="ResourceExternalStoexEdit">
      </javaActions>
   </extension>
     <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           category="org.palladiosimulator.pcmbench.palladio_modeling_category"
           class="org.palladiosimulator.editors.sirius.resourceenvironment.custom.wizard.ResourceEnvironmentCreationWizard"
           icon="icons/NewResourceFile.gif"
           id="org.palladiosimulator.editors.sirius.resourceenvironment.wizard.custom.ResourceEnvironmentCreationWizard"
           name="ResourceEnvironment Model and Diagram - Sirius">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="org.palladiosimulator.editors.sirius.resourceenvironment.custom.toolbar.ResourceEnvironmentCreation"
           id="org.palladiosimulator.editors.sirius.resourceenvironment.custom.toolbar.ResourceEnvironmentCreation"
           name="ResourceEnvironmentCreation">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.palladiosimulator.editors.sirius.ui.PCMToolbar?after=System">
        <command
              commandId="org.palladiosimulator.editors.sirius.resourceenvironment.custom.toolbar.ResourceEnvironmentCreation"
              icon="icons/NewResourceFile.gif"
              id="ResourceEnvironment"
              label="Create a new ResourceEnvironment Model and Diagram from scratch"
              style="push"
              tooltip="Create a new ResourceEnvironment Model and Diagram from scratch">
        </command>
     </menuContribution>
  </extension>
</plugin>
