<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.palladiosimulator.editors.sirius.seff.Activator"
               id="org.palladiosimulator.editors.sirius.seff"
	       name="seff">
    </component>
  </extension>
</plugin>
