<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.repository.externaljavaactions.DeleteConformsProvidedRelation"
            id="DeleteConformsProvidedRelation">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.repository.externaljavaactions.DeleteInnerDeclaration"
            id="DeleteInnerDeclaration">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.repository.externaljavaactions.DeleteInnerType"
            id="DeleteInnerType">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.repository.externaljavaactions.OpenEditor"
            id="OpenEditor">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.repository.externaljavaactions.DeleteConformsCompleteRelation"
            id="DeleteConformsCompleteRelation">
      </javaActions>
   </extension>

</plugin>
