<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.repository.externaljavaactions.DeleteInnerDeclaration"
            id="DeleteInnerDeclaration">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.repository.externaljavaactions.DeleteInnerType"
            id="DeleteInnerType">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.repository.externaljavaactions.DeleteConformsCompleteRelation"
            id="DeleteConformsCompleteRelation">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.repository.externaljavaactions.AddSEFF"
            id="AddSEFF">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.repository.externaljavaactions.AddCollectionDataType"
            id="AddCollectionDataType">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.repository.externaljavaactions.DeleteConformsProvidedRelation"
            id="DeleteConformsProvidedRelation">
      </javaActions>
   </extension>

</plugin>
