<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.custom.externaljavaactions.AddAssemblyContext"
            id="AddAssemblyContext">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.custom.externaljavaactions.AddOperationProvidedRole"
            id="AddOperationProvidedRole">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.custom.externaljavaactions.AddOperationRequiredRole"
            id="AddOperationRequiredRole">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.custom.externaljavaactions.AddInfrastructureProvidedRole"
            id="AddInfrastructureProvidedRole">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.custom.externaljavaactions.AddInfrastructureRequiredRole"
            id="AddInfrastructureRequiredRole">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.custom.externaljavaactions.AddSinkRole"
            id="AddSinkRole">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.custom.externaljavaactions.AddSourceRole"
            id="AddSourceRole">
      </javaActions>
   </extension>
     <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           category="org.palladiosimulator.pcmbench.palladio_modeling_category"
           class="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.custom.wizard.SystemCreationWizard"
           icon="icons/NewCompositeFile.gif"
           id="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.custom.wizard.SystemCreationWizard"
           name="System Model and Diagram - Sirius">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.custom.toolbar.SystemCreation"
           id="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.custom.toolbar.SystemCreation"
           name="SystemCreation">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.palladiosimulator.editors.sirius.ui.PCMToolbar?after=Repository">
        <command
              commandId="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.custom.toolbar.SystemCreation"
              icon="icons/NewCompositeFile.gif"
              id="System"
              label="Create a new System Model and Diagram from scratch"
              style="push"
              tooltip="Create a new System Model and Diagram from scratch">
        </command>
     </menuContribution>
  </extension>
</plugin>
