<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2013 Obeo.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
      Obeo - initial API and implementation
-->
<plugin>
   <extension-point id="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.rotatableNode" name="Rotatable Node Image" schema="schema/org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.rotating_node.exsd"/>

   <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
     <editpartProvider
           class="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.rotatable.provider.RotatableImageEditPartProvider">
        <Priority
              name="Highest">
        </Priority>
     </editpartProvider>
  </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.action.AddATRoleAction"
            id="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.addATRole">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.action.AddATAction"
            id="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.addAT">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.action.LoadResourceAction"
            id="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.loadResource">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.action.RemoveATRoleAction"
            id="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.removeATRole">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.action.RemoveATAction"
            id="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.removeAT">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.action.AddLinkingResourceAction"
            id="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.addLinkingResource">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.diagram.ui.styleConfigurationProvider">
      <styleConfigurationProvider
            providerClass="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.styleconfiguration.ComposedProvidingRequringEntityStyleConfiguration">
      </styleConfigurationProvider>
      <styleConfigurationProvider
            providerClass="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.styleconfiguration.ResourceContainerStyleConfiguration">
      </styleConfigurationProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.action.LinkingResourceEditPolicyProvider">
         <Priority
               name="Highest">
         </Priority>
      </editpolicyProvider>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.action.ApplyUnapplyStereotypeAction"
            id="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.applyUnapplyStereotype">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.action.ApplyUnapplyProfileAction"
            id="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.applyUnapplyProfile">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.action.AddProcessingResourceSpecification"
            id="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.ProcessingResourceSpecification">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.action.AddAssemblyContext"
            id="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.AssemblyContext">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.action.AddAllocationContext"
            id="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.AllocationContext">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.action.RemoveConnectorAction"
            id="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.RemoveConnector">
      </javaActions>
   </extension>
  
</plugin>
