<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.palladiosimulator.editors.allocation.design.Activator"
               id="org.palladiosimulator.editors.allocation.design"
	       name="Allocation">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           category="org.palladiosimulator.pcmbench.palladio_modeling_category"
           class="org.palladiosimulator.editors.allocation.design.wizards.AllocationCreationWizard"
           icon="icons/obj16/Allocation.gif"
           id="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.allocationCreationWizard"
           name="Allocation Model and Diagram">
     </wizard>
  </extension>
</plugin>
