<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.palladiosimulator.pcmbench.projectview"
            labelProvider="org.palladiosimulator.editors.tabs.PropertyLabelProvider"
            typeMapper="org.palladiosimulator.editors.tabs.PropertyTypeMapper">
         <propertyCategory category="component"/>
         <propertyCategory category="interface"/>
         <propertyCategory category="operations"/>
         <propertyCategory category="eventTypes"/>
         <propertyCategory category="advanced"/>
         <propertyCategory
               category="infrastructureSignatures">
         </propertyCategory>
         <propertyCategory
               category="eventConnectors">
         </propertyCategory>
      </propertyContributor>
   </extension> <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.palladiosimulator.pcmbench.projectview">
         <propertyTab
               category="component"
               id="org.palladiosimulator.pcmbench.componentTab"
               label="Component"/>
         <propertyTab
               category="interface"
               id="org.palladiosimulator.pcmbench.interfaceTab"
               label="Interface"/>
          <propertyTab
               category="operations"
               id="org.palladiosimulator.pcmbench.operationsTab"
               label="Operations"/>
          <propertyTab
               category="eventTypes"
               id="org.palladiosimulator.pcmbench.eventTypesTab"
               label="Event Types"/>
         <propertyTab
               afterTab="Component,Interface"
               category="advanced"
               id="org.palladiosimulator.pcmbench.advancedTab"
               label="Advanced"/>
         <propertyTab
               category="infrastructureSignatures"
               id="org.palladiosimulator.pcmbench.infrastructureSignaturesTab"
               label="InfrastructureSignatures">
         </propertyTab>
         <propertyTab
               category="eventConnectors"
               id="org.palladiosimulator.pcmbench.eventConnectorsTab"
               label="EventConnectors">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.palladiosimulator.pcmbench.projectview">
         <propertySection
               class="org.palladiosimulator.editors.tabs.ComponentPropertySection"
               id="org.palladiosimulator.pcmbench.componentTab.section"
               tab="org.palladiosimulator.pcmbench.componentTab">
            <input type="org.palladiosimulator.pcm.repository.ProvidesComponentType"/>
         </propertySection>
         <propertySection 
               class="org.palladiosimulator.editors.tabs.InterfacePropertySection"
               id="org.palladiosimulator.pcmbench.interfaceTab.section"
               tab="org.palladiosimulator.pcmbench.interfaceTab">
            <input type="org.palladiosimulator.pcm.repository.Interface"/>
        </propertySection>
          <propertySection
               class="org.palladiosimulator.editors.tabs.OperationsPropertySection"
               id="org.palladiosimulator.pcmbench.operationsTab.section"
               tab="org.palladiosimulator.pcmbench.operationsTab">
            <input type="org.palladiosimulator.pcm.repository.OperationInterface"/>
         </propertySection>
          <propertySection
               class="org.palladiosimulator.editors.tabs.EventTypesPropertySection"
               id="org.palladiosimulator.pcmbench.eventTypesTab.section"
               tab="org.palladiosimulator.pcmbench.eventTypesTab">
            <input type="org.palladiosimulator.pcm.repository.EventGroup"/>
         </propertySection>
         <propertySection
               class="org.palladiosimulator.editors.tabs.AdvancedPropertySection"
               id="org.palladiosimulator.pcmbench.advancedTab.section"
               tab="org.palladiosimulator.pcmbench.advancedTab">
            <input type="org.eclipse.emf.ecore.EObject"/>
         </propertySection>
         <propertySection
               class="org.palladiosimulator.editors.tabs.InfrastructureSignaturesPropertySection"
               id="org.palladiosimulator.pcmbench.infrastructureSignaturesTab.section"
               tab="org.palladiosimulator.pcmbench.infrastructureSignaturesTab">
            <input
                  type="org.palladiosimulator.pcm.repository.InfrastructureInterface">
            </input>
         </propertySection>
         <propertySection
               class="org.palladiosimulator.editors.tabs.EventChannelSinkConnectorSection"
               id="org.palladiosimulator.pcmbench.eventConnectors.section"
               tab="org.palladiosimulator.pcmbench.eventConnectorsTab">
            <input
                  type="org.palladiosimulator.pcm.core.composition.EventChannelSinkConnector">
            </input>
         </propertySection>

      </propertySections>
   </extension>

</plugin>
