<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.resourceenvironment.externaljavaactions.AddProcessingResourceSpecification"
            id="AddProcessingResourceSpecification">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.resourceenvironment.externaljavaactions.RemoveConnectorAction"
            id="RemoveConnector">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.resourceenvironment.externaljavaactions.AddLinkingResourceAction"
            id="AddLinkingResource">
      </javaActions>
   </extension>
</plugin>
