<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright 2005-2015 by palladiosimulator.org
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.presentation.PcmModelWizardID"
            name="%_UI_PcmModelWizard_label"
            class="org.palladiosimulator.pcm.presentation.PcmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PcmModelFile.gif">
         <description>%_UI_PcmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.presentation.PcmEditorID"
            name="%_UI_PcmEditor_label"
            icon="icons/full/obj16/PcmModelFile.gif"
            extensions="pcm"
            class="org.palladiosimulator.pcm.presentation.PcmEditor"
            contributorClass="org.palladiosimulator.pcm.presentation.PcmActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.core.presentation.CoreModelWizardID"
            name="%_UI_CoreModelWizard_label"
            class="org.palladiosimulator.pcm.core.presentation.CoreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CoreModelFile.gif">
         <description>%_UI_CoreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.core.presentation.CoreEditorID"
            name="%_UI_CoreEditor_label"
            icon="icons/full/obj16/CoreModelFile.gif"
            extensions="core"
            class="org.palladiosimulator.pcm.core.presentation.CoreEditor"
            contributorClass="org.palladiosimulator.pcm.core.presentation.CoreActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.core.entity.presentation.EntityModelWizardID"
            name="%_UI_EntityModelWizard_label"
            class="org.palladiosimulator.pcm.core.entity.presentation.EntityModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EntityModelFile.gif">
         <description>%_UI_EntityModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.core.entity.presentation.EntityEditorID"
            name="%_UI_EntityEditor_label"
            icon="icons/full/obj16/EntityModelFile.gif"
            extensions="entity"
            class="org.palladiosimulator.pcm.core.entity.presentation.EntityEditor"
            contributorClass="org.palladiosimulator.pcm.core.entity.presentation.EntityActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.core.composition.presentation.CompositionModelWizardID"
            name="%_UI_CompositionModelWizard_label"
            class="org.palladiosimulator.pcm.core.composition.presentation.CompositionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CompositionModelFile.gif">
         <description>%_UI_CompositionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.core.composition.presentation.CompositionEditorID"
            name="%_UI_CompositionEditor_label"
            icon="icons/full/obj16/CompositionModelFile.gif"
            extensions="composition"
            class="org.palladiosimulator.pcm.core.composition.presentation.CompositionEditor"
            contributorClass="org.palladiosimulator.pcm.core.composition.presentation.CompositionActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.usagemodel.presentation.UsagemodelModelWizardID"
            name="%_UI_UsagemodelModelWizard_label"
            class="org.palladiosimulator.pcm.usagemodel.presentation.UsagemodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UsagemodelModelFile.gif">
         <description>%_UI_UsagemodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.usagemodel.presentation.UsagemodelEditorID"
            name="%_UI_UsagemodelEditor_label"
            icon="icons/full/obj16/UsagemodelModelFile.gif"
            extensions="usagemodel"
            class="org.palladiosimulator.pcm.usagemodel.presentation.UsagemodelEditor"
            contributorClass="org.palladiosimulator.pcm.usagemodel.presentation.UsagemodelActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.repository.presentation.RepositoryModelWizardID"
            name="%_UI_RepositoryModelWizard_label"
            class="org.palladiosimulator.pcm.repository.presentation.RepositoryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RepositoryModelFile.gif">
         <description>%_UI_RepositoryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.repository.presentation.RepositoryEditorID"
            name="%_UI_RepositoryEditor_label"
            icon="icons/full/obj16/RepositoryModelFile.gif"
            extensions="repository"
            class="org.palladiosimulator.pcm.repository.presentation.RepositoryEditor"
            contributorClass="org.palladiosimulator.pcm.repository.presentation.RepositoryActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.resourcetype.presentation.ResourcetypeModelWizardID"
            name="%_UI_ResourcetypeModelWizard_label"
            class="org.palladiosimulator.pcm.resourcetype.presentation.ResourcetypeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ResourcetypeModelFile.gif">
         <description>%_UI_ResourcetypeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.resourcetype.presentation.ResourcetypeEditorID"
            name="%_UI_ResourcetypeEditor_label"
            icon="icons/full/obj16/ResourcetypeModelFile.gif"
            extensions="resourcetype"
            class="org.palladiosimulator.pcm.resourcetype.presentation.ResourcetypeEditor"
            contributorClass="org.palladiosimulator.pcm.resourcetype.presentation.ResourcetypeActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.parameter.presentation.ParameterModelWizardID"
            name="%_UI_ParameterModelWizard_label"
            class="org.palladiosimulator.pcm.parameter.presentation.ParameterModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ParameterModelFile.gif">
         <description>%_UI_ParameterModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.parameter.presentation.ParameterEditorID"
            name="%_UI_ParameterEditor_label"
            icon="icons/full/obj16/ParameterModelFile.gif"
            extensions="parameter"
            class="org.palladiosimulator.pcm.parameter.presentation.ParameterEditor"
            contributorClass="org.palladiosimulator.pcm.parameter.presentation.ParameterActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.reliability.presentation.ReliabilityModelWizardID"
            name="%_UI_ReliabilityModelWizard_label"
            class="org.palladiosimulator.pcm.reliability.presentation.ReliabilityModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ReliabilityModelFile.gif">
         <description>%_UI_ReliabilityModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.reliability.presentation.ReliabilityEditorID"
            name="%_UI_ReliabilityEditor_label"
            icon="icons/full/obj16/ReliabilityModelFile.gif"
            extensions="reliability"
            class="org.palladiosimulator.pcm.reliability.presentation.ReliabilityEditor"
            contributorClass="org.palladiosimulator.pcm.reliability.presentation.ReliabilityActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.seff.presentation.SeffModelWizardID"
            name="%_UI_SeffModelWizard_label"
            class="org.palladiosimulator.pcm.seff.presentation.SeffModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SeffModelFile.gif">
         <description>%_UI_SeffModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.seff.presentation.SeffEditorID"
            name="%_UI_SeffEditor_label"
            icon="icons/full/obj16/SeffModelFile.gif"
            extensions="seff"
            class="org.palladiosimulator.pcm.seff.presentation.SeffEditor"
            contributorClass="org.palladiosimulator.pcm.seff.presentation.SeffActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.seff.seff_performance.presentation.SeffPerformanceModelWizardID"
            name="%_UI_SeffPerformanceModelWizard_label"
            class="org.palladiosimulator.pcm.seff.seff_performance.presentation.SeffPerformanceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SeffPerformanceModelFile.gif">
         <description>%_UI_SeffPerformanceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.seff.seff_performance.presentation.SeffPerformanceEditorID"
            name="%_UI_SeffPerformanceEditor_label"
            icon="icons/full/obj16/SeffPerformanceModelFile.gif"
            extensions="seffperformance"
            class="org.palladiosimulator.pcm.seff.seff_performance.presentation.SeffPerformanceEditor"
            contributorClass="org.palladiosimulator.pcm.seff.seff_performance.presentation.SeffPerformanceActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.seff.seff_reliability.presentation.SeffReliabilityModelWizardID"
            name="%_UI_SeffReliabilityModelWizard_label"
            class="org.palladiosimulator.pcm.seff.seff_reliability.presentation.SeffReliabilityModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SeffReliabilityModelFile.gif">
         <description>%_UI_SeffReliabilityModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.seff.seff_reliability.presentation.SeffReliabilityEditorID"
            name="%_UI_SeffReliabilityEditor_label"
            icon="icons/full/obj16/SeffReliabilityModelFile.gif"
            extensions="seffreliability"
            class="org.palladiosimulator.pcm.seff.seff_reliability.presentation.SeffReliabilityEditor"
            contributorClass="org.palladiosimulator.pcm.seff.seff_reliability.presentation.SeffReliabilityActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.qosannotations.presentation.QosannotationsModelWizardID"
            name="%_UI_QosannotationsModelWizard_label"
            class="org.palladiosimulator.pcm.qosannotations.presentation.QosannotationsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QosannotationsModelFile.gif">
         <description>%_UI_QosannotationsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.qosannotations.presentation.QosannotationsEditorID"
            name="%_UI_QosannotationsEditor_label"
            icon="icons/full/obj16/QosannotationsModelFile.gif"
            extensions="qosannotations"
            class="org.palladiosimulator.pcm.qosannotations.presentation.QosannotationsEditor"
            contributorClass="org.palladiosimulator.pcm.qosannotations.presentation.QosannotationsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.qosannotations.qos_performance.presentation.QosPerformanceModelWizardID"
            name="%_UI_QosPerformanceModelWizard_label"
            class="org.palladiosimulator.pcm.qosannotations.qos_performance.presentation.QosPerformanceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QosPerformanceModelFile.gif">
         <description>%_UI_QosPerformanceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.qosannotations.qos_performance.presentation.QosPerformanceEditorID"
            name="%_UI_QosPerformanceEditor_label"
            icon="icons/full/obj16/QosPerformanceModelFile.gif"
            extensions="qosperformance"
            class="org.palladiosimulator.pcm.qosannotations.qos_performance.presentation.QosPerformanceEditor"
            contributorClass="org.palladiosimulator.pcm.qosannotations.qos_performance.presentation.QosPerformanceActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.qosannotations.qos_reliability.presentation.QosReliabilityModelWizardID"
            name="%_UI_QosReliabilityModelWizard_label"
            class="org.palladiosimulator.pcm.qosannotations.qos_reliability.presentation.QosReliabilityModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QosReliabilityModelFile.gif">
         <description>%_UI_QosReliabilityModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.qosannotations.qos_reliability.presentation.QosReliabilityEditorID"
            name="%_UI_QosReliabilityEditor_label"
            icon="icons/full/obj16/QosReliabilityModelFile.gif"
            extensions="qosreliability"
            class="org.palladiosimulator.pcm.qosannotations.qos_reliability.presentation.QosReliabilityEditor"
            contributorClass="org.palladiosimulator.pcm.qosannotations.qos_reliability.presentation.QosReliabilityActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.system.presentation.SystemModelWizardID"
            name="%_UI_SystemModelWizard_label"
            class="org.palladiosimulator.pcm.system.presentation.SystemModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SystemModelFile.gif">
         <description>%_UI_SystemModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.system.presentation.SystemEditorID"
            name="%_UI_SystemEditor_label"
            icon="icons/full/obj16/SystemModelFile.gif"
            extensions="system"
            class="org.palladiosimulator.pcm.system.presentation.SystemEditor"
            contributorClass="org.palladiosimulator.pcm.system.presentation.SystemActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.resourceenvironment.presentation.ResourceenvironmentModelWizardID"
            name="%_UI_ResourceenvironmentModelWizard_label"
            class="org.palladiosimulator.pcm.resourceenvironment.presentation.ResourceenvironmentModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ResourceenvironmentModelFile.gif">
         <description>%_UI_ResourceenvironmentModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.resourceenvironment.presentation.ResourceenvironmentEditorID"
            name="%_UI_ResourceenvironmentEditor_label"
            icon="icons/full/obj16/ResourceenvironmentModelFile.gif"
            extensions="resourceenvironment"
            class="org.palladiosimulator.pcm.resourceenvironment.presentation.ResourceenvironmentEditor"
            contributorClass="org.palladiosimulator.pcm.resourceenvironment.presentation.ResourceenvironmentActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.allocation.presentation.AllocationModelWizardID"
            name="%_UI_AllocationModelWizard_label"
            class="org.palladiosimulator.pcm.allocation.presentation.AllocationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AllocationModelFile.gif">
         <description>%_UI_AllocationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.allocation.presentation.AllocationEditorID"
            name="%_UI_AllocationEditor_label"
            icon="icons/full/obj16/AllocationModelFile.gif"
            extensions="allocation"
            class="org.palladiosimulator.pcm.allocation.presentation.AllocationEditor"
            contributorClass="org.palladiosimulator.pcm.allocation.presentation.AllocationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.subsystem.presentation.SubsystemModelWizardID"
            name="%_UI_SubsystemModelWizard_label"
            class="org.palladiosimulator.pcm.subsystem.presentation.SubsystemModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SubsystemModelFile.gif">
         <description>%_UI_SubsystemModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcm -->
      <editor
            id="org.palladiosimulator.pcm.subsystem.presentation.SubsystemEditorID"
            name="%_UI_SubsystemEditor_label"
            icon="icons/full/obj16/SubsystemModelFile.gif"
            extensions="subsystem"
            class="org.palladiosimulator.pcm.subsystem.presentation.SubsystemEditor"
            contributorClass="org.palladiosimulator.pcm.subsystem.presentation.SubsystemActionBarContributor">
      </editor>
   </extension>

</plugin>
