<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.Activator"
               id="org.palladiosimulator.editors.composedprovidingrequiringentity"
	       name="My">
    </component>
  </extension>
  <extension
        id="org.palladiosimulator.editors.composedprovidingrequiringentity.operationProvidedRole"
        point="org.palladiosimulator.editors.sirius.custom.style.rotatableNode">
     <image
           bottom="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/operation-provided-bottom.svg"
           id="org.palladiosimulator.editors.composedprovidingrequiringentity.operationProvidedRole"
           left="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/operation-provided-left.svg"
           right="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/operation-provided-right.svg"
           top="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/operation-provided-top.svg">
     </image>
  </extension>
  <extension
        id="org.palladiosimulator.editors.composedprovidingrequiringentity.operationRequiredRole"
        point="org.palladiosimulator.editors.sirius.custom.style.rotatableNode">
     <image
           bottom="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/operation-required-bottom.svg"
           id="org.palladiosimulator.editors.composedprovidingrequiringentity.operationRequiredRole"
           left="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/operation-required-left.svg"
           right="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/operation-required-right.svg"
           top="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/operation-required-top.svg">
     </image>
  </extension>
  <extension
        id="org.palladiosimulator.editors.composedprovidingrequiringentity.infrastructureProvidedRole"
        point="org.palladiosimulator.editors.sirius.custom.style.rotatableNode">
     <image
           bottom="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/infrastructure-provided-bottom.svg"
           id="org.palladiosimulator.editors.composedprovidingrequiringentity.infrastructureProvidedRole"
           left="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/infrastructure-provided-left.svg"
           right="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/infrastructure-provided-top.svg"
           top="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/infrastructure-provided-top.svg">
     </image>
  </extension>
  <extension
        id="org.palladiosimulator.editors.composedprovidingrequiringentity.infrastructureRequiredRole"
        point="org.palladiosimulator.editors.sirius.custom.style.rotatableNode">
     <image
           bottom="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/infrastructure-required-bottom.svg"
           id="org.palladiosimulator.editors.composedprovidingrequiringentity.infrastructureRequiredRole"
           left="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/infrastructure-required-left.svg"
           right="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/infrastructure-required-right.svg"
           top="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/infrastructure-required-top.svg">
     </image>
  </extension>
  <extension
        id="org.palladiosimulator.editors.composedprovidingrequiringentity.sourceRole"
        point="org.palladiosimulator.editors.sirius.custom.style.rotatableNode">
     <image
           bottom="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/source-role-bottom.svg"
           id="org.palladiosimulator.editors.composedprovidingrequiringentity.sourceRole"
           left="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/source-role-left.svg"
           right="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/source-role-right.svg"
           top="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/source-role-top.svg">
     </image>
  </extension>
  <extension
        id="org.palladiosimulator.editors.composedprovidingrequiringentity.sinkRole"
        point="org.palladiosimulator.editors.sirius.custom.style.rotatableNode">
     <image
           bottom="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/sink-role-bottom.svg"
           id="org.palladiosimulator.editors.composedprovidingrequiringentity.sinkRole"
           left="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/sink-role-left.svg"
           right="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/sink-role-right.svg"
           top="/org.palladiosimulator.editors.composedprovidingrequiringentity/images/sink-role-top.svg">
     </image>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           category="org.palladiosimulator.pcmbench.palladio_modeling_category"
           class="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.wizards.SystemCreationWizard"
           icon="icons/obj16/System.gif"
           id="org.palladiosimulator.editors.sirius.custom.style.systemCreationWizard"
           name="System Model and Diagram">
     </wizard>
  </extension>
</plugin>
