<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.Activator"
               id="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity"
	       name="composedprovidingrequiringentity">
    </component>
  </extension>
  <extension
        id="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.operationProvidedRole"
        point="org.palladiosimulator.editors.sirius.custom.style.rotatableNode">
     <image
           bottom="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/operation-provided-bottom.svg"
           id="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.operationProvidedRole"
           left="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/operation-provided-left.svg"
           right="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/operation-provided-right.svg"
           top="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/operation-provided-top.svg">
     </image>
  </extension>
  <extension
        id="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.operationRequiredRole"
        point="org.palladiosimulator.editors.sirius.custom.style.rotatableNode">
     <image
           bottom="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/operation-required-bottom.svg"
           id="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.operationRequiredRole"
           left="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/operation-required-left.svg"
           right="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/operation-required-right.svg"
           top="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/operation-required-top.svg">
     </image>
  </extension>
  <extension
        id="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.infrastructureProvidedRole"
        point="org.palladiosimulator.editors.sirius.custom.style.rotatableNode">
     <image
           bottom="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/infrastructure-provided-bottom.svg"
           id="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.infrastructureProvidedRole"
           left="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/infrastructure-provided-left.svg"
           right="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/infrastructure-provided-right.svg"
           top="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/infrastructure-provided-top.svg">
     </image>
  </extension>
  <extension
        id="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.infrastructureRequiredRole"
        point="org.palladiosimulator.editors.sirius.custom.style.rotatableNode">
     <image
           bottom="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/infrastructure-required-bottom.svg"
           id="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.infrastructureRequiredRole"
           left="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/infrastructure-required-left.svg"
           right="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/infrastructure-required-right.svg"
           top="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/infrastructure-required-top.svg">
     </image>
  </extension>
  <extension
        id="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.sourceRole"
        point="org.palladiosimulator.editors.sirius.custom.style.rotatableNode">
     <image
           bottom="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/source-role-bottom.svg"
           id="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.sourceRole"
           left="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/source-role-left.svg"
           right="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/source-role-right.svg"
           top="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/source-role-top.svg">
     </image>
  </extension>
  <extension
        id="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.sinkRole"
        point="org.palladiosimulator.editors.sirius.custom.style.rotatableNode">
     <image
           bottom="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/sink-role-bottom.svg"
           id="org.palladiosimulator.editors.sirius.composedprovidingrequiringentity.sinkRole"
           left="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/sink-role-left.svg"
           right="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/sink-role-right.svg"
           top="/org.palladiosimulator.editors.sirius.composedprovidingrequiringentity/images/sink-role-top.svg">
     </image>
  </extension>

</plugin>
