<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.palladiosimulator.editors.resourceenvironment.design.Activator"
               id="org.palladiosimulator.editors.resourceenvironment.design"
	       name="resourceenvironment">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           category="org.palladiosimulator.pcmbench.palladio_modeling_category"
           class="org.palladiosimulator.editors.resourceenvironment.design.wizards.ResourceEnvironmentCreationWizard"
           icon="icons/obj17/ResourceEnvironment.gif"
           id="org.palladiosimulator.editors.gmf.runtime.diagram.ui.extension.resourceEnvironmentCreationWizard"
           name="Resource Environment Model and Diagram">
     </wizard>
  </extension>
</plugin>
