<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.AddATAction"
            id="AddAT">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.AddATRoleAction"
            id="AddATRole">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.ApplyUnapplyProfileAction"
            id="ApplyUnapplyProfile">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.ApplyUnapplyStereotypeAction"
            id="ApplyUnapplyStereotype">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.LoadResourceAction"
            id="LoadResource">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.LoadResources"
            id="LoadResources">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.RemoveATAction"
            id="RemoveAT">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.RemoveATRoleAction"
            id="RemoveATRole">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.SetNamedReference"
            id="SetNamedReference">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.OpenRepresentation"
            id="OpenRepresentation">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.ActivateViewpoint"
            id="ActivateViewpoint">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.RegisterResourceSetListener"
            id="RegisterResourceSetListener">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.custom.externaljavaactions.RemoveDiagramAction"
            id="RemoveDiagram">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.emf.transaction.listeners">
      <listener
            class="org.palladiosimulator.editors.sirius.custom.validation.MyResourceSetListener">
      </listener>
   </extension>

</plugin>
