<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.palladiosimulator.editors.sirius.allocation.Activator"
               id="org.palladiosimulator.editors.sirius.allocation.design"
	       name="Allocation">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           category="org.palladiosimulator.pcmbench.palladio_modeling_category"
           class="org.palladiosimulator.editors.sirius.allocation.wizard.AllocationCreationWizard"
           icon="icons/NewAllocationFile.gif"
           id="org.palladiosimulator.editors.sirius.allocation.wizard.AllocationCreationWizard"
           name="Allocation Model and Diagram - Sirius">
     </wizard>
  </extension>
</plugin>
