<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.custom.externaljavaactions.AddSEFF"
            id="AddSEFF">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.custom.externaljavaactions.SetCapacity"
            id="SetCapacity">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.custom.externaljavaactions.SetInnerDeclaration"
            id="SetInnerDeclaration">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.custom.externaljavaactions.SetInnerType"
            id="SetInnerType">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.custom.externaljavaactions.ReconnectSourceOfConformsProvidesRelation"
            id="ReconnectSourceOfConformsProvidesRelation">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.custom.externaljavaactions.ReconnectSourceOfConformsCompleteRelation"
            id="ReconnectSourceOfConformsCompleteRelation">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.custom.externaljavaactions.ReconnectSourceOfContainsRelation"
            id="ReconnectSourceOfContainsRelation">
      </javaActions>
   </extension>
<extension
        point="org.eclipse.ui.newWizards">
     <wizard
           category="org.palladiosimulator.pcmbench.palladio_modeling_category"
           class="org.palladiosimulator.editors.sirius.repository.custom.wizard.RepositoryCreationWizard"
           icon="icons/NewRepositoryFile.gif"
           id="org.palladiosimulator.editors.sirius.repository.custom.wizard.RepositoryCreationWizard"
           name="Repository Model and Diagram - Sirius">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="org.palladiosimulator.editors.sirius.repository.custom.toolbar.RepositoryCreation"
           id="org.palladiosimulator.editors.sirius.repository.custom.toolbar.RepositoryCreation"
           name="RepositoryCreation">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.palladiosimulator.editors.sirius.ui.PCMToolbar?after=org.palladiosimulator.editors.sirius.ui.toobar.seperator">
        <command
              commandId="org.palladiosimulator.editors.sirius.repository.custom.toolbar.RepositoryCreation"
              icon="icons/NewRepositoryFile.gif"
              id="Repository"
              label="Create a new Repository Model and Diagram from scratch"
              style="push"
              tooltip="Create a new Repository Model and Diagram from scratch">
        </command>
     </menuContribution>
  </extension>
</plugin>
