<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.custom.externaljavaactions.AddSEFF"
            id="AddSEFF">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.custom.externaljavaactions.DeleteConformsCompleteRelation"
            id="DeleteConformsCompleteRelation">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.custom.externaljavaactions.DeleteConformsProvidedRelation"
            id="DeleteConformsProvidedRelation">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.custom.externaljavaactions.DeleteContainsRelation"
            id="DeleteContainsRelation">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.custom.externaljavaactions.DeleteInnerType"
            id="DeleteInnerType">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.custom.externaljavaactions.SetCapacity"
            id="SetCapacity">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.custom.externaljavaactions.SetInnerDeclaration"
            id="SetInnerDeclaration">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.custom.externaljavaactions.SetInnerType"
            id="SetInnerType">
      </javaActions>
   </extension>

</plugin>
