<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.seff.custom.externaljavaactions.LoopIterationCountDialog"
            id="LoopIterationCountDialog">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.seff.custom.externaljavaactions.GuardedBranchTransistionConditionDialog"
            id="GuardedBranchTransistionConditionDialog">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.seff.custom.externaljavaactions.DeleteRecoveryFlow"
            id="DeleteRecoveryFlow">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.seff.custom.externaljavaactions.AddAcquireAction"
            id="AddAcquireAction">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.seff.custom.externaljavaactions.AddReleaseAction"
            id="AddReleaseAction">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.seff.custom.externaljavaactions.AddExternalCallAction"
            id="AddExternalCallAction">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.seff.custom.externaljavaactions.EditBranchProbability"
            id="EditBranchProbability">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.seff.custom.externaljavaactions.AddCollectionIteratorAction"
            id="AddCollectionIteratorAction">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.seff.custom.externaljavaactions.AddEmitEventAction"
            id="AddEmitEventAction">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.seff.custom.externaljavaactions.SetInfrastructureSignature"
            id="SetInfrastructureSignature">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.seff.custom.externaljavaactions.SetNumberOfCalls"
            id="SetNumberOfCalls">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.seff.custom.externaljavaactions.SetSpecification"
            id="SetSpecification">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.seff.custom.externaljavaactions.SetRequiredResource"
            id="SetRequiredResource">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.seff.custom.externaljavaactions.SetFailureType"
            id="SetFailureType">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.seff.custom.externaljavaactions.EditInternalFailureOccurrenceDescriptionProbability"
            id="EditInternalFailureOccurrenceDescriptionProbability">
      </javaActions>
   </extension>

</plugin>
