<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.palladiosimulator.pcmbench.palladio_modeling_category"
            class="org.palladiosimulator.editors.sirius.ui.wizard.project.NewPalladioProjectWizard"
            hasPages="true"
            icon="icons/palladio-icon.ico"
            id="NewPalladioProjectWizard"
            name="New Palladio Project - Sirius"
            project="true">
         <description>
            Create a new Palladio Modeling project
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.palladiosimulator.editors.sirius.ui.PCMToolbar"
               label="PCM Wizards - Sirius">
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.palladiosimulator.editors.sirius.ui.PCMToolbar">
         <command
               commandId="org.palladiosimulator.editors.sirius.ui.toolbar.PalladioProjectCreation"
               icon="icons/palladio-icon.ico"
               label="Create a new Palladio project"
               style="push"
               tooltip="Create a new Palladio project">
         </command>
         <separator
               name="org.palladiosimulator.editors.sirius.ui.toobar.seperator"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.palladiosimulator.editors.sirius.ui.toolbar.PalladioProjectCreation"
            id="org.palladiosimulator.editors.sirius.ui.toolbar.PalladioProjectCreation"
            name="PalladioProjectCreation">
      </command>
   </extension>

</plugin>
