<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.palladiosimulator.editors.sirius.ui.wizard.template" name="Palladio Model Template" schema="schema/org.palladiosimulator.editors.sirius.ui.wizard.template.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.palladiosimulator.pcmbench.palladio_modeling_category"
            class="org.palladiosimulator.editors.sirius.ui.wizard.project.NewPalladioProjectWizard"
            hasPages="true"
            icon="icons/palladio-icon.ico"
            id="NewPalladioProjectWizard"
            name="New Palladio Project - Sirius"
            project="true">
         <description>
            Create a new Palladio Modeling project
         </description>
      </wizard>
   </extension>
   <extension
         point="org.palladiosimulator.editors.sirius.ui.wizard.template">
      <model_template
            description="Creates a Palladio project containing a minimum example project."
            name="Minimum Example Template">
         <model_file
               target_file="default.allocation"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_example/default.allocation">
         </model_file>
         <model_file
               target_file="default.repository"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_example/default.repository">
         </model_file>
         <model_file
               target_file="default.system"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_example/default.system">
         </model_file>
         <model_file
               target_file="default.usagemodel"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_example/default.usagemodel">
         </model_file>
         <model_file
               target_file="My.resourceenvironment"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_example/My.resourceenvironment">
         </model_file>
         <model_file
               target_file="default.allocation_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_example/default.allocation_diagram">
         </model_file>
         <model_file
               target_file="default.repository_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_example/default.repository_diagram">
         </model_file>
         <model_file
               target_file="default.system_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_example/default.system_diagram">
         </model_file>
         <model_file
               target_file="default.usagemodel_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_example/default.usagemodel_diagram">
         </model_file>
         <model_file
               target_file="My.resourceenvironment_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_example/My.resourceenvironment_diagram">
         </model_file>
      </model_template>
   </extension>
   <extension
         point="org.palladiosimulator.editors.sirius.ui.wizard.template">
      <model_template
            description="Creates a Palladio project containing a minimum example project using an event-based communication."
            name="Minimum Event Template">
         <model_file
               target_file="default.allocation"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_event_example/default.allocation">
         </model_file>
         <model_file
               target_file="default.repository"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_event_example/default.repository">
         </model_file>
         <model_file
               target_file="default.system"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_event_example/default.system">
         </model_file>
         <model_file
               target_file="default.usagemodel"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_event_example/default.usagemodel">
         </model_file>
         <model_file
               target_file="default.resourceenvironment"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_event_example/default.resourceenvironment">
         </model_file>
         <model_file
               target_file="default.allocation_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_event_example/default.allocation_diagram">
         </model_file>
         <model_file
               target_file="default.repository_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_event_example/default.repository_diagram">
         </model_file>
         <model_file
               target_file="default.system_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_event_example/default.system_diagram">
         </model_file>
         <model_file
               target_file="default.usagemodel_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_event_example/default.usagemodel_diagram">
         </model_file>
         <model_file
               target_file="default.resourceenvironment_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/minimum_event_example/default.resourceenvironment_diagram">
         </model_file>
      </model_template>
   </extension>
   <extension
         point="org.palladiosimulator.editors.sirius.ui.wizard.template">
      <model_template
            description="Creates a Palladio project that models the component type example of the Palladio Techreport (Section &quot;Type Hierarchy&quot;)."
            name="Techreport Component Type Example">
         <model_file
               target_file="default.allocation"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/techreport_component_type_example/default.allocation">
         </model_file>
         <model_file
               target_file="default.allocation_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/techreport_component_type_example/default.allocation_diagram">
         </model_file>
         <model_file
               target_file="default.repository"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/techreport_component_type_example/default.repository">
         </model_file>
         <model_file
               target_file="default.repository_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/techreport_component_type_example/default.repository_diagram">
         </model_file>
         <model_file
               target_file="default.resourceenvironment"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/techreport_component_type_example/default.resourceenvironment">
         </model_file>
         <model_file
               target_file="default.resourceenvironment_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/techreport_component_type_example/default.resourceenvironment_diagram">
         </model_file>
         <model_file
               target_file="default.system"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/techreport_component_type_example/default.system">
         </model_file>
         <model_file
               target_file="default.system_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/techreport_component_type_example/default.system_diagram">
         </model_file>
         <model_file
               target_file="default.usagemodel"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/techreport_component_type_example/default.usagemodel">
         </model_file>
         <model_file
               target_file="default.usagemodel_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/techreport_component_type_example/default.usagemodel_diagram">
         </model_file>
      </model_template>
   </extension>
   <extension
         point="org.palladiosimulator.editors.sirius.ui.wizard.template">
      <model_template
            description="Creates a Palladio project containing standard reusable components and interfaces (e.g. Cache, Loadbalancer, Connection Pool, Delegating Component)."
            name="PCM Standard Components and Interfaces Repository">
         <model_file
               target_file="PcmStandard.repository"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/pcm_standard_components/PcmStandard.repository">
         </model_file>
         <model_file
               target_file="PcmStandard.repository_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/pcm_standard_components/PcmStandard.repository_diagram">
         </model_file>
         <model_file
               target_file="readme.txt"
               template_uri="platform:/plugin/org.palladiosimulator.editors.sirius.ui/templates/pcm_standard_components/readme.txt">
         </model_file>
      </model_template>
   </extension>

</plugin>
