<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.palladiosimulator.pcmbench.palladio_modeling_category"
            class="org.palladiosimulator.editors.sirius.ui.wizard.project.NewPalladioProjectWizard"
            hasPages="true"
            icon="icons/palladio-icon.ico"
            id="NewPalladioProjectWizard"
            name="New Palladio Project - Sirius"
            project="true">
         <description>
            Create a new Palladio Modeling project
         </description>
      </wizard>
   </extension>

</plugin>
