<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.palladiosimulator.editors.sirius.repository.Activator"
               id="repository.design"
	       name="repository">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           class="org.palladiosimulator.editors.sirius.repository.wizards.NewRepositoryModel"
           id="org.palladiosimulator.editors.sirius.repository.wizard1"
           name="Repository Model and Diagram"
           project="false">
     </wizard>
  </extension>
</plugin>
