<repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-editors-commons/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-editors-commons/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-edp2/releases/latest"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-edp2/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-metricspecification/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-metricspecification/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-measurementframework/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-measurementframework/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-emfprofiles/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-emfprofiles/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-addon-architecturaltemplates/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-addon-architecturaltemplates/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-workflowengine/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-workflowengine/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-framework/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-framework/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-featuremodel/releases/latest"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-featuremodel/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simucom/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simucom/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-recorderframework/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-recorderframework/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-reliability/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-reliability/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-simulation-abstractsimengine/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-simulation-abstractsimengine/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-simulation-scheduler/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-simulation-scheduler/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-probeframework/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-probeframework/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simulizar/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simulizar/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-monitorrepository/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-monitorrepository/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-addons-servicelevelobjectives/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-addons-servicelevelobjectives/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-mdsdprofiles/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-mdsdprofiles/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-addons-experimentautomation/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-addons-experimentautomation/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-cloudscaleusageevolution/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-cloudscaleusageevolution/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-p2mirror-dlim/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/archive/storydiagraminterpreter/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/archive/storydiagraminterpreter/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-experimentanalysis/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-experimentanalysis/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-sensorframework/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-sensorframework/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-solver/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-solver/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-yakindustatecharts/releases"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-yakindustatecharts/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-example-models-package/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-example-models-package/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-addons-costefficiency/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-addons-costefficiency/branches/release5.2.0/"/>
