<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.palladiosimulator.editors.sirius Target Platform" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.sirius.common.acceleo.mtl" version="0.0.0"/>
<repository location="https://download.eclipse.org/releases/2023-03/202303151000/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.sirius.runtime.ide.eef.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/sirius/updates/releases/7.0.6/2021-06/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.pcm.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.pcm.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="de.uka.ipd.sdq.identifier.feature.feature.group" version="0.0.0"/>
<unit id="org.palladiosimulator.commons.stoex.sdk.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="de.uka.ipd.sdq.identifier.feature.feature.group" version="0.0.0"/>
<unit id="org.palladiosimulator.commons.stoex.sdk.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.editors.commons.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-editors-commons/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.editors.commons.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-editors-commons/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.edp2.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-edp2/releases/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.edp2.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-edp2/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.metricspec.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-metricspecification/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.metricspec.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-metricspecification/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.thirdpartywrapper.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.thirdpartywrapper.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.measurementframework.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-measurementframework/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.measurementframework.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-measurementframework/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.modelversioning.emfprofile.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-emfprofiles/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.modelversioning.emfprofile.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-emfprofiles/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.architecturaltemplates.feature.feature.group" version="0.0.0"/>
<unit id="org.palladiosimulator.architecturaltemplates.examples.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-addon-architecturaltemplates/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.architecturaltemplates.feature.feature.group" version="0.0.0"/>
<unit id="org.palladiosimulator.architecturaltemplates.examples.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-addon-architecturaltemplates/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="de.uka.ipd.sdq.workflow.feature.core.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-workflowengine/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="de.uka.ipd.sdq.workflow.feature.core.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-workflowengine/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.analyzer.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-framework/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.analyzer.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-framework/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="de.uka.ipd.sdq.featureconfig" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-featuremodel/releases/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="de.uka.ipd.sdq.featureconfig" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-featuremodel/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.simucom.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simucom/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.simucom.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simucom/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.recorderframework.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-recorderframework/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.recorderframework.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-recorderframework/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.reliability.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-reliability/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.reliability.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-reliability/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="de.uka.ipd.sdq.simulation.abstractsimengine.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-simulation-abstractsimengine/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="de.uka.ipd.sdq.simulation.abstractsimengine.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-simulation-abstractsimengine/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.scheduler.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-simulation-scheduler/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.scheduler.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-simulation-scheduler/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.probeframework.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-probeframework/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.probeframework.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-probeframework/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.simulizar.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simulizar/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.simulizar.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simulizar/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.monitorrepository.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-monitorrepository/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.monitorrepository.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-monitorrepository/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.servicelevelobjective.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-addons-servicelevelobjectives/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.servicelevelobjective.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-addons-servicelevelobjectives/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.mdsdprofiles.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-mdsdprofiles/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.mdsdprofiles.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-mdsdprofiles/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.experimentautomation.application.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-addons-experimentautomation/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.experimentautomation.application.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-addons-experimentautomation/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.scaledl.usageevolution.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-cloudscaleusageevolution/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.scaledl.usageevolution.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-cloudscaleusageevolution/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="LIMBO_DLIM.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-p2mirror-dlim/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.storydriven.storydiagrams.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/archive/storydiagraminterpreter/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.storydriven.storydiagrams.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/archive/storydiagraminterpreter/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.experimentanalysis.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-experimentanalysis/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.experimentanalysis.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-experimentanalysis/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="de.uka.ipd.sdq.sensorframework.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-sensorframework/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="de.uka.ipd.sdq.sensorframework.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-sensorframework/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.solver.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-solver/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.solver.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-solver/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.yakindu.base.xtext.utils.gmf.feature.group" version="0.0.0"/>
<unit id="org.yakindu.base.xtext.utils.jface.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-yakindustatecharts/releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.yakindu.base.xtext.utils.gmf.feature.group" version="0.0.0"/>
<unit id="org.yakindu.base.xtext.utils.jface.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-yakindustatecharts/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.examples.package.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-example-models-package/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.examples.package.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-example-models-package/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="org.palladiosimulator.cost.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-addons-costefficiency/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="org.palladiosimulator.cost.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-addons-costefficiency/branches/testingDay5.2.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="com.google.auto.factory-annotations.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.mdsd.tools/thirdparty-library/nightly"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="com.google.auto.factory-annotations.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.mdsd.tools/thirdparty-library/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
<unit id="tools.mdsd.library.emfeditutils.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.mdsd.tools/library-emfeditutils/nightly/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
<unit id="tools.mdsd.library.emfeditutils.feature.feature.group" version="0.0.0"/>
<repository location="https://updatesite.mdsd.tools/library-emfeditutils/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.sirius.tests.junit.support" version="0.0.0"/>
<unit id="org.eclipse.sirius.tests.junit" version="0.0.0"/>
<repository location="https://download.eclipse.org/sirius/updates/releases/7.0.6/2021-06/"/>


</location>
</locations>
</target>
