<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.modelversioning.emfprofile.profile">
     <profile profile_resource="profiles/Replicable.emfprofile_diagram"/>
   </extension>
   <extension point="org.modelversioning.emfprofile.profile">
     <profile profile_resource="profiles/Virtualized.emfprofile_diagram"/>
   </extension>
   <extension point="org.modelversioning.emfprofile.profile">
     <profile profile_resource="profiles/ThreeLayer.emfprofile_diagram"/>
   </extension>
   <extension point="org.modelversioning.emfprofile.profile">
     <profile profile_resource="profiles/DynamicHorizontalScalingResourceContainer.emfprofile_diagram"/>
   </extension>
   <extension point="org.modelversioning.emfprofile.profile">
     <profile profile_resource="profiles/DynamicVerticalScalingResourceContainer.emfprofile_diagram"/>
   </extension>
   <extension point="org.modelversioning.emfprofile.profile">
     <profile profile_resource="profiles/Loadbalancing.emfprofile_diagram"/>
  </extension>
   <extension
         point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
      <unit
            name="ThreeLayerLibrary"
            namespace="org.scaledl.architecturaltemplates.repositories.cloudscale.black">
         <library
               class="org.scaledl.architecturaltemplates.repositories.cloudscale.black.ThreeLayerLibrary"
               name="ThreeLayerLibrary">
            <metamodel
                  nsURI="http://www.eclipse.org/emf/2002/Ecore">
            </metamodel>
            <metamodel
                  nsURI="http://www.modelversioning.org/emfprofile/1.1">
            </metamodel>
            <metamodel
                  nsURI="http://www.modelversioning.org/emfprofile/application/1.1">
            </metamodel>
            <metamodel
                  nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/System/5.0">
            </metamodel>
            <metamodel
                  nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/ResourceEnvironment/5.0">
            </metamodel>
            <metamodel
                  nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Core/Composition/5.0">
            </metamodel>
         </library>
      </unit>
      <unit
            name="ProfilesLibrary"
            namespace="org.scaledl.architecturaltemplates.repositories.cloudscale.black">
         <library
               class="org.scaledl.architecturaltemplates.repositories.cloudscale.black.ProfilesLibrary"
               name="ProfilesLibrary">
            <metamodel
                  nsURI="http://www.eclipse.org/emf/2002/Ecore">
            </metamodel>
            <metamodel
                  nsURI="http://www.modelversioning.org/emfprofile/1.1">
            </metamodel>
            <metamodel
                  nsURI="http://www.modelversioning.org/emfprofile/application/1.1">
            </metamodel>
            <metamodel
                  nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Core/Entity/5.0">
            </metamodel>
         </library>
      </unit>
   </extension>
</plugin>
